**/node_modules/
**/package-lock.json
**/package.json
lesson1/11.js
lesson2/homework2object.js
lesson2/lesson2test.js
lesson3/access.log
lesson3/test.log
lesson3/Регулярные выражения (regexp) — основы _ Хабр.mhtml
lesson3/34_48_240_111_requests.log
lesson3/89_123_1_41_requests.log
lesson3/accessTest.log
lesson3/test_requests.log
lesson3/reg.js
